@import "tailwindcss";

@theme {
  --font-anta: var(--font-anta);
  --font-mukta: var(--font-mukta);

  --color-white: #F4F9FF;
  --color-blue: #4490F9;
  --color-red: #B70A0A;
  --color-mirage: #151D2F;
  --color-black-pearl: #01030B;
  --color-grass: #D6A319;
}

:root {
  --background: #01030B;
  --foreground: #F4F9FF;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #F4F9FF;
    --foreground: #01030B;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Mukta", Arial, Helvetica, sans-serif;
}